/* ---- GENERAL STYLES ---- */
:root{
    --side-nav-bar-padding: 1rem;
    --text-color: rgb(135, 134, 135);
    --hover-color: rgb(173, 255, 47);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

body{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.hover-cursor:hover{
    cursor: pointer;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
    margin-top: 1rem;
}

h4{
    color: var(--text-color);
    margin-top: 0.75rem;
    font-size: 0.75rem;
}

/* ---- MAIN CONTAINER ----*/

.main-container{
    flex-direction: row;
    flex-grow: 1;
    z-index: 0;
    overflow: hidden;
}

/* ---- LEFT SIDE-NAVIGATION BAR ---- */

.side-nav-bar{
    min-width: 200px;
    background-color: rgb(0, 0, 0);
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
    color: var(--text-color);
    z-index: 2;
    font-size: 0.75rem;
}

.top{
    max-height: 80%;
}

.box{
    padding: 0rem 1rem 2rem 0rem;
    width: 100%;
}

.nav-logo{
    width: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
}

.nav-logo-xs{
    display: none;
}

.menu-list{
    list-style: none;
}

.menu-list li{
    border-left: 5px solid transparent;
    padding: .25rem 0;
    font-weight: bold;
    font-size: 0.90rem;
}

.menu-list li:hover{
    border-left: 5px solid var(--hover-color);
    color: white;
}

.menu-list svg{
    width: 40px;
    padding-left: 1rem;
    vertical-align: middle;
}

.menu-list span{
    padding-left: .5rem;
    height: auto;
    width: 100%;
}

.playlist{
    padding-left: calc(5px + 1rem);
    height: 40%;
}

.playlist .title{
    color: white;
    padding-top: 0;
    font-size: 1rem;
    font-weight: bold;
}

.playlist span{
    font-weight: bold;
    color: var(--text-color);
    font-size: 1rem;
}

.new-playlist{
    padding-top: 1rem;
    align-items: center;
}

.new-playlist i{
    padding-right: 0.5rem;
    font-size: 2rem;
}

.new-playlist:hover *, .playlists-box span:hover{
    color: white;
    cursor: pointer;
}

.playlists-box{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 1rem;
}

.playlists-box *{
    display: block;
    line-height: 2rem;
}

.iuser{
    padding-left: calc(5px + 1rem);
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.iuser svg{
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    margin-right: 0.5rem;
}

.download:hover{
    cursor: pointer;
    color: white;
}

.username{
    color: white;
    font-size: 1.25rem;
}


/* ---- MAIN ---- */
/* contains all element other than the left nav bar and the footer */

main{
    background-color: rgb(20, 25, 34);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    z-index: 1;
}

/* ---- UPGRADE BAR ---- */

.upgrade-bar{
    min-height: 100px;
    background-color: rgb(8, 11, 18);
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.upgrade-bar button{
    padding: 15px;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    line-height: 0;
}

.upgrade-bar button:hover{
    text-decoration: underline;
    border: 2px solid rgb(186, 186, 186);
    scale: 1.1;
    background-color: rgb(20, 25, 34);
}

/* ---- CANVA ---- */
/* contains all elements other than the upgrade bar */

.canva{
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    padding: 0rem 2rem 2rem 2rem;
    color: white;
    overflow: auto;
    flex-grow: 1;
}

.canva section{
    padding-top: 3rem;
    width: 100%;
}

/* ---- CATEGORIES BAR ---- */

.categories{
    height: fit-content;
    width: 100%;
    justify-content: center;
    position: sticky;
}

.categories ul{
    min-width: 50%;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
}

.categories .on-open-selected{
    display: inline-block;
    padding: 1rem 1rem .25rem;
    margin: 0rem 0.5rem;
    position: relative;
    border-bottom: 2px solid var(--hover-color);
}

.categories .on-open-selected a{
    color: white;
}

.categories li{
    display: inline-block;
    padding: 1rem 0.5rem .25rem;
    margin: 0rem 0.5rem;
    position: relative;
    border-bottom: 2px solid transparent;
    font-size: 0.75rem;

}

.categories li:hover{
    border-bottom: 2px solid var(--hover-color);
}

.categories li:hover a{
    color: white;
}

.categories li .left-border-hider{
    position: absolute;
    left: 0;
    width: 30%;
    bottom: -5px;
    height: 6px;
    background-color: rgb(20, 25, 34);
}

.categories li .right-border-hider{
    position: absolute;
    right: 0;
    width: 30%;
    bottom: -5px;
    height: 6px;
    background-color: rgb(20, 25, 34);
}

.categories a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

/* ---- CANVA SECTIONS ---- */

/* ---- RECENTLY PLAYED ---- */
.row{
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 1rem;
    width: 100%;
}

.multiple{
    justify-content: space-between;
}

.row .card{
    width: calc(16.6% - 1rem);
    text-align: center;
}

.card .image-container{
    position: relative;
    aspect-ratio: 1/1;
}

.card img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    position: relative;
}

.card .image-container:hover{
    cursor: pointer;
}

.card .image-container .overlay{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    transition: .1s ease-out;
}

.card .image-container:hover .overlay{
    visibility: visible;
    background-color: rgb(20, 25, 34, 0.75);
}

.card .image-container .overlay i{
    width: 40%;
    font-size: 3rem;
    aspect-ratio: 1/1;
    color: rgb(193, 193, 193);
}

.popular .image-container img{
    border: 0px solid transparent;
    border-radius: 50%;
}

/* ---- CREATED FOR YOU ---- */


/* ---- FOOTER ---- */

footer{
    min-height: 100px;
    background-color: rgb(40, 40, 40);
    z-index: 3;
}

/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 1100px) {
    .row .card{
        width: calc(25% - 1rem);
    }

    .multiple{
        justify-content: flex-start;
    }

    .card .image-container .overlay i{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 760px) {
    .row .card{
        width: calc(50% - 1rem);
    }

    .multiple{
        justify-content: flex-start;
    }

    .card .image-container .overlay i{
        font-size: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .row .card{
        width: calc(100% - 1rem);
    }

    .multiple{
        justify-content: flex-start;
    }

    .upgrade-bar{
        display: none;
    }

    .upgrade-bar button{
        display: none;
    }

    .side-nav-bar{
        min-width: fit-content;
    }

    span{
        display: none;
    }

    hr{
        display: none;
    }

    .playlist{
        display: none;
    }

    .nav-logo{
        display: none;
    }

    .nav-logo-xs{
        display: block;
        width: 60%;
        margin: 1rem auto;
    }

    .nav-logo-xs:hover{
        cursor: pointer;
        color: grey;
    }

    .menu-list svg{
        padding-left: 10px;
    }

    .menu-list svg:hover{
        cursor: pointer;
    }

    .iuser{
        display: flex;
        flex-flow: column;
        width: 100%;
        padding: 0
    }

    .card .image-container .overlay i{
        font-size: 6rem;
    }
}